# Elastic Beanstalk
!.elasticbeanstalk/
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Deployment package
app.zip

# Logs
eb-logs.txt

# Python environment
.venv/
__pycache__/
*.py[cod]

# Environment variables
.env

# Databases
*.db
*.sqlite3

# IDE and editor junk
.idea/
.DS_Store
Thumbs.db

# Node (optional for JS/CSS builds)
node_modules/
