# Elastic Beanstalk
# Don't ignore the folder itself
!.elasticbeanstalk/
# Ignore everything inside it
.elasticbeanstalk/*
# But don't ignore these specific config files
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

app.zip

# Local Python environment
.venv/

# Secret environment variables
.env

# Bytecode cache
__pycache__/

# IDE settings
.idea/

# Local SQLite databases
*.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
